.drop-view{
	background: #d9e8ff!important; 
}
    
.drop-container {
	border: 1pxsolid#ccc!important;
	border-radius: 5px;
	background: white!important;
	display: table;
	min-width: calc(100%-50px);
	height: 100%;
	margin: 0px!important;
	outline: none!important;
}